{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
<span class="label">
    <span class="icon">
        <img width=30 src="{{ asset('bundles/webprofilerextra/images/routing.png') }}" />
    </span>
    <strong>Routing</strong>
    <span class="count">
        <span>{{ collector.routecount }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Sources</h2>
    {% if not collector.ressourcecount %}
        <em>No source.</em>
    {% else %}
        <table>
            {% for i, ressource in collector.ressources %}
                <tr class="{{ i is odd ? 'odd' : 'even' }}">
                    <th>
                        {{ ressource.type }}
                    </th>
                    <td>
                        <code>{{ ressource.path }}</code>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    <h2>Routes</h2>

    {% if not collector.routecount %}
        <em>No route.</em>
    {% else %}
        <table>
            {% for i, route in collector.routes %}
                <tr class="{{ i is odd ? 'odd' : 'even' }}" {% if route.name == collector.matchRoute %}style="color: red;"{% endif %}>
                    <th>
                        @{{ route.name }}
                    </th>
                    <td>
                        <code>{{ route.pattern }}</code>
                    </td>
                    <td>
                        <small>
                            <strong>Controller</strong>:       {{ route.controller }}
                        </small>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
